html {
    padding: 10px;
}
body {
    font-family: Arial, sans-serif;
}
h1, h2 {
    color: black;
}
.mainTitle{
    text-align: center;
    font-family: "Calibri", serif;
}

#conteneur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}


#divForm {
    display: flex; /* Utiliser Flexbox pour les éléments à l'intérieur de divForm */
    flex-direction: column; /* Disposer les éléments verticalement */
    background: lightblue;
    padding: 10px;
}

#divForm > *:not(#imgProduit) {
    margin-bottom: 10px; /* Espacement entre chaque élément */
}



/* Appliquer un style différent à la première ligne */
#tableArticle tr:first-child {
    background-color: #dedede; /* Couleur de fond de la première ligne */
    font-weight: bold; /* Texte en gras dans la première ligne */
    color: black; /* Couleur du texte */
    font-family: Arial, serif; /* Police du texte */
}



#tableArticle {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tableArticle th, #tableArticle td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tableArticle tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tableArticle tr:hover {
    background-color: #c7e4ff;
    cursor: pointer;
}

#tableArticle tr:first-child { /*pour que la premiere ligne soit differente*/
    pointer-events: none;
    background-color: #e7e7e7;
}
